<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5828.26833" targetFramework="net45" />
  <package id="CSharpTest.Net.Collections" version="14.906.1403.1082" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
</packages>